.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store
*.egg-info/
build/
dist/
.cache/
/models/
/data/
/outputs/
notebooks/.ipynb_checkpoints/
print.prt
*.before_resume
/work/
